<!DOCTYPE html>
   <head>
      <title>Forest Environment Data</title>
      <link rel="stylesheet" href='../static/style.css'/>
   </head>
   <body background="http://getwallpapers.com/wallpaper/full/2/2/0/482064.jpg">
	<h1> <center> Sensor Data </center></h1>
	<h3> TEMPERATURE   ==>  {{ temp  }} oC</h3>
	<h3> SMOKE ==>  {{ hum  }} ppm</h3>
	<hr>	
	<meta http-equiv="refresh" content="1"/>
	<h3> Last Sensors Reading: {{ time }} </h3>	
        <h3><a href="http://192.168.43.196:8081"><hr><button type="button">Take a View</button></a></h3>
	<p>Developed by SyNtAx ErRor</p>
   </body>
</html>
